# Arquivos de Byte Python
__pycache__/

# Arquivos de compilação
*.pyc

# Arquivos gerados pelo sistema operacional
.DS_Store

# Arquivos de ambiente virtual (exemplo: Virtualenv, Pipenv)
venv/
.env

# Arquivos de log
*.log

# Dependências e pacotes
# Exemplo: diretório onde as dependências são instaladas localmente
venv/

*.log

*.tmp

temp/

